body{
  background-image: url(imagenes/fondo4.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.navbar{
  background-color: #0fa774;
}
.container{
  margin-top: 80px;
  background-color: #48F8A990;
  align-content: center;
  text-align: center;
  padding: 20px;
}
.container:hover{
  background-color: #C1F7DF90;
}
.navbar-collapse{
  justify-content: space-between;
}
.carrusel{
  padding: 30px 30px 50px 30px;
  display: flex;
  justify-content: center;
}

.carousel-inner img{
  height: 500px;
  width: 300px;
}
.carousel-caption{
  color:black;
  background-color: blanchedalmond;
  display: inline-block;
  border-radius: 20%;
  opacity: 60%;

}

.carousel-control-next-icon{background-image: url("icon/next.png"); }
.carousel-control-prev-icon{background-image: url("icon/back.png"); }

footer{
  padding:80px;
  background-color: antiquewhite;
}

.logo-veterinaria{
  width: 50px;
  height: auto;
}

.servicios{
  width: 100%;
  height: 50%;
}