/* Estilo fondo */
body{
  background-image: url(imagenes/fondo4.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.logo-veterinaria{
  width: 50px;
  height: auto;
}
/* estilos navbar */

.navbar{
  background-color: #0fa774;
}
.navbar-collapse{
  justify-content: space-between;
}
/* Estilos contenedores */
.container{
  margin-top: 75px;
  background-color: #48F8A9;
  align-content: center;
  text-align: center;
  padding: 20px;
}
.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos carrusel  */
.carrusel{
  padding: 30px 30px 50px 30px;
  display: flex;
  justify-content: center;
}
.carousel-caption{
  color:black;
  background-color: blanchedalmond;
  display: inline-block;
  border-radius: 20%;
  opacity: 60%;
}
/* Botones carrusel */
.carousel-control-next-icon{background-image: url("icon/next.png"); }
.carousel-control-prev-icon{background-image: url("icon/back.png"); }

/* Pie de pagina */
footer{
  padding:20px;
  background-color: antiquewhite;
}
.bi{
  font-size: 20px;
  padding: 5px;
  color: black;
}

/* Servicios */
.servicios{
  padding: 9%;
  background-color: #54e9a6;
  margin: auto;
  border-radius: 20px;
}
.titulo{
  padding-top: 3%;
  padding-bottom: 3%;
}
/* Popopover */
.ubi-popover {
  position: fixed;
  left: 20px; 
  bottom: 20px; 
  background-color: #424443;
}

#ArticuloGatoAdulto,#ArticuloGatoSano,#ArticuloPerros {
  padding-top: 70px; /* Ajusta este valor según sea necesario para coincidir con la altura del navbar */
}